:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.container {
  max-width: 1920px;
  background-color: #000;
  height: auto;
  color: white;
  margin: 0 auto;
  padding: 24px;
}
img {
  width: 100%;
}

.logo {
  width: 180px;
}
.movies-container {
  padding: 24px 16px;
}
.movies-container h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.category {
  margin-bottom: 50px;
}
.movies-carousel {
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.movies-carousel::-webkit-scrollbar {
  display: none;
}
.carousel-item {
  flex-shrink: 0;
  width: 220px;
  aspect-ratio: 22/12;
  background-color: antiquewhite;
  /* border: 1px solid red; */
}
